--- 
const usuario_fetch = await fetch('https://jsonplaceholder.typicode.com/users');
const usuarios = await usuario_fetch.json(); 
--- 

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Usuarios</title>
	</head>
	<body>
        { usuarios.map( usuario => 
        (<div>
            <h4 class="name">{usuario.name}<small><sub class="username">({usuario.username})</sub></small></h4>
            <fieldset>
                <legend>Information</legend>
                <label for="street">Street:</label>
                <input type="text" value={usuario.address.street} name="street" readonly />
                <label for="city">City:</label>
                <input type="text" value={usuario.address.city} name="city" readonly />
                <label for="suite">Suite:</label>
                <input type="text" value={usuario.address.suite} name="suite" readonly />
                <label for="zipcode">Zipcode:</label>
                <input type="text" value={usuario.address.zipcode} name="zipcode" readonly />
            </fieldset>
        </div>) ) }
	</body>
</html>

<style>
    .name {
        background-color: black;
        color: white;
        display: inline-block;
        padding: 10px;
        margin: 3px;
        border-radius: 10px;
    }

    .username {
        background-color: rgb(14, 178, 137);
        padding: 5px;
        border-radius: 4px;
        margin: 0px 4px;
        color: black;
    }

    fieldset label {
        font-weight: 700;
    }

    fieldset input {
        border: 0px;
        background-color: rgb(235, 235, 235);
        padding: 4px;
        border-radius: 4px;
    }

</style>